body {
  margin: 0;
  font-family: "Helvetica Neue", Arial;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

button {
  padding: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
